
input[type="search"]{
  width: 90%;
  padding:5px 0;
}

td,th{
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid rgb(168, 165, 165);
}

table{
  width: 95%;
  margin-left: 0;
  border-collapse: collapse;
}
tr{
  color: rgb(52, 50, 50);
  margin-bottom: 10px;
}
input{
  text-align: center;
}
